// Place all the styles related to the tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	overflow-x: hidden;
}
.full{
	h4,p{
		padding-left:5px;
	}
}
.help-inline{
	color:red;
}

.links_nav > .list-group-item{
	margin-bottom:2px;
	padding: 11px 15px;
}

#tickets_portlet{
	margin-bottom:2em;
	h4{
		padding-left:5px;
	}
}
#tickets_sidebar, .single_table, .double_table {
    .fa{
    line-height: 2 !important;
    }
}

.ticket-menubar{
	background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    a {
    	color:#555555 !important;
    }
    .dropdown-menu {
    	a:hover {
    	color:white !important;
    	}
    }
    .nav-pills{
    	margin-bottom: 0;
    	li{
    		margin:10px 10px;
    		a{background-color:#C7C7C7;}
    	}
    	.dropdown-menu > li {
    	 	a {
    	    	color:#FFFFFF;
    	    	background-color:white !important;
    	    }
    	    a:hover{
    	    	background-color:#D74B4B !important;
    	    }
    	}
    	.fa-arrow-left{line-height:1 !important;}
    }
}

.sticky {
    position:fixed;
    top:0;
    z-index: 9999;
    .container{
    	margin-left: 0;
    }
}

.menu-padding {
    padding-top:20px;
}

.ticket_table{
	a{
		color:#555555;
	}
	a:hover{text-decoration:none;}
	tr:hover{
		cursor: pointer;
	}
}
.single_table, .double_table {
	margin-top:100px;	
}
#tickets_sidebar{
	.badge{margin-top:7px;}
}
.fa-1\.5x{
	font-size:1.15em;
}
.fa-0\.5x{
	font-size:0.9em;
}
.ticket_status{
    font-size: 17px;
}
.icons-list > li > .icon-li {
    top: -0.75em;
}

.feed-item-comment.col-md-offset-2{
    margin-left:16.6667%;
    background-color:#E7E7E7;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    padding-bottom:10px;
    margin-bottom:20px;
}

#label-heading{
    font-family: 'Open Sans','Trebuchet MS',arial,sans-serif;
}