// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.select_cat{
	line-height: 18px;
    margin: 12px auto 2px;
    padding: 8px 8px 0;
}