<div class="row">
	<h1>Dashboard</h1>
	<p>Get started with the most common settings. You can find the comprehensive list of settings in the left navigation bar. If you need help in setting up, please &nbsp; <%= link_to "Contact Support »", '' %></p>
	<hr>
</div>
<div class="row" id="tiles">
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-custom">
			  <div class="panel-heading">Forwarding Addresses</div>
			  <div class="panel-body">
			    Panel content
			  </div>
			  <div class="panel-footer">Panel footer</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-custom">
			  <div class="panel-heading">Agents</div>
			  <div class="panel-body">
			    Panel content
			  </div>
			  <div class="panel-footer">Panel footer</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-custom">
			  <div class="panel-heading">Groups</div>
			  <div class="panel-body">
			    Panel content
			  </div>
			  <div class="panel-footer">Panel footer</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel-custom">
			  <div class="panel-heading">Filters</div>
			  <div class="panel-body">
			    Panel content
			  </div>
			  <div class="panel-footer">Panel footer</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-custom">
			  <div class="panel-heading">Snippets</div>
			  <div class="panel-body">
			    Panel content
			  </div>
			  <div class="panel-footer">Panel footer</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-custom">
			  <div class="panel-heading">Labels</div>
			  <div class="panel-body">
			    Panel content
			  </div>
			  <div class="panel-footer">Panel footer</div>
			</div>
		</div>
	</div>
</div>