<div class="content">

    <div class="container">

      <h3 class="content-title"><u>Dashboard</u></h3>
      <p>Get started with the most common settings. You can find the comprehensive list of settings in the left navigation bar. If you need help in setting up, please &nbsp; <%= link_to "Contact Support »", '' %></p>
      <br>
      <br>

	      <div class="row">

	        <div class="col-sm-4 col-md-4">

	          <div class="well">
	            <h4>Forwarding Addresses</h4>
	            <p>Your  monthly charge for the <strong>$9.00</strong> is paid on the 11th of each month.</p>

	            <br>

	            <h5>Card Details</h5>

	              <table class="table">
	                <tbody>
	                  <tr>
	                    <th>Card Type</th>
	                    <td>Visa</td>
	                  </tr>

	                  <tr>
	                    <th>Card Number</th>
	                    <td>************9349 &nbsp;<small>(<a href="javascript:;">change card</a>)</small></td>
	                  </tr>

	                  <tr>
	                    <th>Valid Until</th>
	                    <td>07/16</td>
	                  </tr>
	                </tbody>
	              </table>

	          </div> <!-- /.well -->

	        </div> <!-- /.col -->

	        <div class="col-sm-4 col-md-4">

	          <div class="well">
	            <h4>Agents</h4>
	            <p>Your  monthly charge for the <strong>$9.00</strong> is paid on the 11th of each month.</p>

	            <br>

	            <h5>Card Details</h5>

	              <table class="table">
	                <tbody>
	                  <tr>
	                    <th>Card Type</th>
	                    <td>Visa</td>
	                  </tr>

	                  <tr>
	                    <th>Card Number</th>
	                    <td>************9349 &nbsp;<small>(<a href="javascript:;">change card</a>)</small></td>
	                  </tr>

	                  <tr>
	                    <th>Valid Until</th>
	                    <td>07/16</td>
	                  </tr>
	                </tbody>
	              </table>

	          </div> <!-- /.well -->

	        </div> <!-- /.col -->

	        <div class="col-sm-4 col-md-4">

	          <div class="well">
	            <h4>Groups</h4>
	            <p>Your  monthly charge for the <strong>$9.00</strong> is paid on the 11th of each month.</p>

	            <br>

	            <h5>Card Details</h5>

	              <table class="table">
	                <tbody>
	                  <tr>
	                    <th>Card Type</th>
	                    <td>Visa</td>
	                  </tr>

	                  <tr>
	                    <th>Card Number</th>
	                    <td>************9349 &nbsp;<small>(<a href="javascript:;">change card</a>)</small></td>
	                  </tr>

	                  <tr>
	                    <th>Valid Until</th>
	                    <td>07/16</td>
	                  </tr>
	                </tbody>
	              </table>

	          </div> <!-- /.well -->

	        </div> <!-- /.col -->
	    </div>
	    <br>
	    <div class="row">

	        <div class="col-sm-4 col-md-4">

	          <div class="well">
	            <h4>Filters</h4>
	            <p>Your  monthly charge for the <strong>$9.00</strong> is paid on the 11th of each month.</p>

	            <br>

	            <h5>Card Details</h5>

	              <table class="table">
	                <tbody>
	                  <tr>
	                    <th>Card Type</th>
	                    <td>Visa</td>
	                  </tr>

	                  <tr>
	                    <th>Card Number</th>
	                    <td>************9349 &nbsp;<small>(<a href="javascript:;">change card</a>)</small></td>
	                  </tr>

	                  <tr>
	                    <th>Valid Until</th>
	                    <td>07/16</td>
	                  </tr>
	                </tbody>
	              </table>

	          </div> <!-- /.well -->

	        </div> <!-- /.col -->

	        <div class="col-sm-4 col-md-4">

	          <div class="well">
	            <h4>Snippets</h4>
	            <p>Your  monthly charge for the <strong>$9.00</strong> is paid on the 11th of each month.</p>

	            <br>

	            <h5>Card Details</h5>

	              <table class="table">
	                <tbody>
	                  <tr>
	                    <th>Card Type</th>
	                    <td>Visa</td>
	                  </tr>

	                  <tr>
	                    <th>Card Number</th>
	                    <td>************9349 &nbsp;<small>(<a href="javascript:;">change card</a>)</small></td>
	                  </tr>

	                  <tr>
	                    <th>Valid Until</th>
	                    <td>07/16</td>
	                  </tr>
	                </tbody>
	              </table>

	          </div> <!-- /.well -->

	        </div> <!-- /.col -->

	        <div class="col-sm-4 col-md-4">

	          <div class="well">
	            <h4>Labels</h4>
	            <p>Your  monthly charge for the <strong>$9.00</strong> is paid on the 11th of each month.</p>

	            <br>

	            <h5>Card Details</h5>

	              <table class="table">
	                <tbody>
	                  <tr>
	                    <th>Card Type</th>
	                    <td>Visa</td>
	                  </tr>

	                  <tr>
	                    <th>Card Number</th>
	                    <td>************9349 &nbsp;<small>(<a href="javascript:;">change card</a>)</small></td>
	                  </tr>

	                  <tr>
	                    <th>Valid Until</th>
	                    <td>07/16</td>
	                  </tr>
	                </tbody>
	              </table>

	          </div> <!-- /.well -->

	        </div> <!-- /.col -->
	    </div>
    </div>
</div>