<div class="content">

	<div class="container">

		<div class="portlet">

			<h4 class="portlet-title">
			  <u>Add a New Label</u>
			  <%= link_to "Back",:back,class: "pull-right" %>
			</h4>
			<br>

	        <div class="portlet-body">
	        	<div class="row">
	        		<div class="col-sm-12 col-md-8 col-md-offset-2"><br>
	        			<%= simple_form_for @label , html: { :class => "form-horizontal" }, :wrapper => :normal do |f| %>
							<%= f.input :name,input_html: {class: "form-control"} %>
							<div class="form-group">
			                  <div class="col-md-7 col-md-push-3">
							<%= f.button :submit, "Add Label",class: "btn btn-info" %>
								</div> <!-- /.col -->
			                </div>
						<% end %>
	        		</div>
	        	</div>
	        </div> <!-- /.portlet-body -->
	    </div> <!-- /.portlet -->
	</div>
</div>