<div class="col-md-10 col-sm-7 ticket-body">

  <%= render 'layouts/tickets_menubar' %>

  <% if table_layout(@type) %>

  	<%= render 'tickets/tickets_index_single_table_layout' %>

  <% else %>

  	<%= render 'tickets/tickets_index_double_table_layout' %>

  <% end %>
    
</div> <!-- /.col -->