<div class="row">
	<div class="container" id="customer-info">
		<%= @ticket.subject %><br><%= @ticket.customer_email %>
	</div>
	<hr>
	<div class="container" id="ticket-state">
		<%= @ticket.ticket_category.name if @ticket.ticket_category %> | <%= @ticket.status %>
	</div>
</div>