<div class="row">
	<h1>Company Settings</h1>
	<hr>
</div>
<div class="row">
	<div class="container">
		<br>
			<%= simple_form_for @company , html: { :class => "form-horizontal" } do |f| %>
			  <%= f.error_notification %>
			    <%= f.input :name, required: true, autofocus: true %>
			  <div class="col-sm-3 col-sm-offset-1 form_button"><%= f.button :submit, "Update",class: "btn btn-info" %></div>
			<% end %>
	</div>
</div>