#contactwrap{
    background: #333333;
    color:#FFFFFF;
    h3,h1{ color:#FFFFFF;}
    ul{
    	li{
    		padding-top: 3%;
    	}	
    }
}
.panel-footer > .btn {
	width: 100%;
	padding: 5%;
}

#error_explanation > h2{
    font-size: 1em;
}
#agent_privilages,#admin_privilages{
    display: none;
}