  <div class="row">

    <div class="col-md-9">

      <div class="portlet">

        <h4 class="portlet-title">
          <u>Average First Response Time</u>
        </h4>

        <div class="portlet-body">

          <div class="chart-bg chart-bg-secondary">
            <div id="average_response" style="width:100%; height:400px;"></div>
          </div> <!-- /.bg-chart -->

          <br>

      </div> <!-- /.portlet-body -->

    </div> <!-- /.portlet -->
      
    </div> <!-- /.col -->

    <div class="col-md-3">         

      <div class="portlet">

        <h4 class="portlet-title">
          <u>Product Sales Breakdown</u>
        </h4>

        <div class="portlet-body">

          <div id="donut-chart" class="chart-holder" style="width: 70%;"></div>
          
        </div> <!-- /.portlet-body -->

      </div> <!-- /.portlet -->
      
    </div> <!-- /.col -->
    
  </div> <!-- /.row -->


  <div class="row">

    <div class="col-md-9">

      <div class="portlet">

        <h4 class="portlet-title">
          <u>Average Time Archive</u>
        </h4>

        <div class="portlet-body">

          <div class="chart-bg chart-bg-secondary">
            <div id="average_time_archive" style="width:100%; height:400px;"></div>
          </div> <!-- /.bg-chart -->

          <br>

      </div> <!-- /.portlet-body -->

    </div> <!-- /.portlet -->
      
    </div> <!-- /.col -->

    <div class="col-md-3">         

      <div class="portlet">

        <h4 class="portlet-title">
          <u>Product Sales Breakdown</u>
        </h4>

        <div class="portlet-body">

          <div id="donut-chart" class="chart-holder" style="width: 70%;"></div>
          
        </div> <!-- /.portlet-body -->

      </div> <!-- /.portlet -->
      
    </div> <!-- /.col -->
    
  </div> <!-- /.row -->
  <div class="row">

    <div class="col-md-9">

      <div class="portlet">

        <h4 class="portlet-title">
          <u>Archived Tickets</u>
        </h4>

        <div class="portlet-body">

          <div class="chart-bg chart-bg-secondary">
            <div id="archived_tickets" style="width:100%; height:400px;"></div>
          </div> <!-- /.bg-chart -->

          <br>

      </div> <!-- /.portlet-body -->

    </div> <!-- /.portlet -->
      
    </div> <!-- /.col -->

    <div class="col-md-3">         

      <div class="portlet">

        <h4 class="portlet-title">
          <u>Product Sales Breakdown</u>
        </h4>

        <div class="portlet-body">

          <div id="donut-chart" class="chart-holder" style="width: 70%;"></div>
          
        </div> <!-- /.portlet-body -->

      </div> <!-- /.portlet -->
      
    </div> <!-- /.col -->
    
  </div> <!-- /.row -->

  <div class="row">

    <div class="col-md-9">

      <div class="portlet">

        <h4 class="portlet-title">
          <u>Replies</u>
        </h4>

        <div class="portlet-body">

          <div class="chart-bg chart-bg-secondary">
            <div id="replies" style="width:100%; height:400px;"></div>
          </div> <!-- /.bg-chart -->

          <br>

      </div> <!-- /.portlet-body -->

    </div> <!-- /.portlet -->
      
    </div> <!-- /.col -->

    <div class="col-md-3">         

      <div class="portlet">

        <h4 class="portlet-title">
          <u>Product Sales Breakdown</u>
        </h4>

        <div class="portlet-body">

          <div id="donut-chart" class="chart-holder" style="width: 70%;"></div>
          
        </div> <!-- /.portlet-body -->

      </div> <!-- /.portlet -->
      
    </div> <!-- /.col -->
    
  </div> <!-- /.row -->


  <div class="row">

    <div class="col-md-9">

      <div class="portlet">

        <h4 class="portlet-title">
          <u>Tickets</u>
        </h4>

        <div class="portlet-body">

          <div class="chart-bg chart-bg-secondary">
            <div id="tickets" style="width:100%; height:400px;"></div>
          </div> <!-- /.bg-chart -->

          <br>

      </div> <!-- /.portlet-body -->

    </div> <!-- /.portlet -->
      
    </div> <!-- /.col -->

    <div class="col-md-3">

      <div class="portlet">

        <h4 class="portlet-title">
          <u>Product Sales Breakdown</u>
        </h4>

        <div class="portlet-body">

          <div id="donut-chart" class="chart-holder" style="width: 70%;"></div>
          
        </div> <!-- /.portlet-body -->

      </div> <!-- /.portlet -->
      
    </div> <!-- /.col -->
    
  </div> <!-- /.row -->