  <div class="content">

    <div class="container">

      <div class="portlet">

        <h4 class="portlet-title">
          <u>Quick Stats</u>
        </h4>

        <div class="portlet-body">

          <div class="row">

            <div class="col-sm-6 col-md-3">
              <div class="row-stat">
                <p class="row-stat-label">Tickets</p>
                <h3 class="row-stat-value">890</h3>
                <span class="label label-success row-stat-badge">+43%</span>
              </div> <!-- /.row-stat -->
            </div> <!-- /.col -->

            <div class="col-sm-6 col-md-3">
              <div class="row-stat">
                <p class="row-stat-label">Replies</p>
                <h3 class="row-stat-value">8290</h3>
                <span class="label label-success row-stat-badge">+17%</span>
              </div> <!-- /.row-stat -->
            </div> <!-- /.col -->

            <div class="col-sm-6 col-md-3">
              <div class="row-stat">
                <p class="row-stat-label">Archived</p>
                <h3 class="row-stat-value">9,290</h3>
                <span class="label label-success row-stat-badge">+26%</span>
              </div> <!-- /.row-stat -->
            </div> <!-- /.col -->

            <div class="col-sm-6 col-md-3">
              <div class="row-stat">
                <p class="row-stat-label">Avg. First Response Time</p>
                <h3 class="row-stat-value">19</h3>
                <span class="label label-danger row-stat-badge">+5%</span>
              </div> <!-- /.row-stat -->
            </div> <!-- /.col -->
            
          </div> <!-- /.row -->

        </div> <!-- /.portlet-body -->

      </div> <!-- /.portlet -->

<!-- form here -->
    <div id="charts_render">
      <%= render partial: 'charts' %>
    </div>

      <div class="portlet">

        <h4 class="portlet-title">
          <u>Social Media Stats</u>
        </h4>
        
        <div class="portlet-body">
          
          <div class="row">

            <div class="col-sm-3">
              <div class="row-stat">
                <p class="row-stat-label">Facebook Likes</p>
                <h3 class="row-stat-value">1,290</h3>
                <span class="label label-success row-stat-badge">+21</span>
              </div> <!-- /.row-stat -->
            </div> <!-- /.col -->

            <div class="col-sm-3">
              <div class="row-stat">
                <p class="row-stat-label">Twitter Followers</p>
                <h3 class="row-stat-value">3,290</h3>
                <span class="label label-success row-stat-badge">+10</span>
              </div> <!-- /.row-stat -->
            </div> <!-- /.col -->

            <div class="col-sm-3">
              <div class="row-stat">
                <p class="row-stat-label">Github Followers</p>
                <h3 class="row-stat-value">21,361</h3>
                <span class="label label-danger row-stat-badge">-5</span>
              </div> <!-- /.row-stat -->
            </div> <!-- /.col -->

            <div class="col-sm-3">
              <div class="row-stat">
                <p class="row-stat-label">Email Subscribers</p>
                <h3 class="row-stat-value">2,689</h3>
                <span class="label label-warning row-stat-badge">+ 0</span>
              </div> <!-- /.row-stat -->
            </div> <!-- /.col -->
            
          </div> <!-- /.row -->

        </div> <!-- /.portlet-body -->

      </div> <!-- /.portlet -->

    </div> <!-- /.container -->

  </div> <!-- .content -->

</div> <!-- /#wrapper -->