<div class="container-full" id="control_panel_footer">
	<div class="navbar-main">
		<!-- Fixed navbar -->
		<div class="navbar navbar-default">
		  <div class="row">
		  	<div class="navbar-collapse collapse">
		  		<h2>HelpDesk</h2>
		  		<p>Social Links/Buttons here</p>
		  		<ul class="list-unstyled list-inline">
		  			<li><%= link_to "Contact Support",'' %></li>
		  			<li><%= link_to "Blog",'' %></li>
		  			<li><%= link_to "Service Status",'' %></li>
		  		</ul>
		  	</div>
		  </div>
		</div>
	</div>
</div>