<div class="left_nav">
	<div class="navbar-main">
		<div class="navbar navbar-default">
			<ul class="nav nav-pills nav-stacked">
				<li class="nav-header"><h3>Reports</h3></li><hr>
				<li><%= link_to "Overview",index_path %></li>
				<li><%= link_to "Agents",reports_agent_path %></li>
				<li><%= link_to "Groups",reports_groups_path %></li>
				<li><%= link_to "Labels",reports_labels_path %></li>
			</ul>
		</div>
	</div>
</div>