<div class="mainnav">

    <div class="container">

      <a class="mainnav-toggle" data-toggle="collapse" data-target=".mainnav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa fa-bars"></i>
      </a>

      <nav class="collapse mainnav-collapse" role="navigation">

        <!-- search form -->
        <form class="mainnav-form pull-right" role="search">
          <input type="text" class="form-control input-md mainnav-search-query" placeholder="Search">
          <button class="btn btn-sm mainnav-form-btn"><i class="fa fa-search"></i></button>
        </form>

        <ul class="nav navbar-nav navbar-left mainnav-menu">
          <li class="active">
            <%= link_to new_ticket_path do %>
              <i class="fa fa-ticket"></i> 
              &nbsp;&nbsp;New Ticket
            <% end %>
          </li>
        </ul>

      </nav>

    </div> <!-- /.container -->
  </div> <!-- /.mainnav -->
